WSCliente/Connected Services/WSAlumnos/WSAlumnos2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServicio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServicio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Alumno">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Respuesta">
        <xs:sequence>
          <xs:element minOccurs="0" name="Apellido_Materno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Apellido_Paterno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Carrera" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NumCtrl" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Alumno" nillable="true" type="tns:Alumno" />
  <xs:complexType name="Respuesta">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Respuesta" nillable="true" type="tns:Respuesta" />
</xs:schema>